@import "tailwindcss";

:root {
  font-size: 100%;

  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 93.75%;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  font: 16px "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}
